<h1>Create a new articles</h1>
<% if @article.errors.any? %>
<ul>
<% @article.errors.full_messages.each do |msg| %>
<li> <%= msg %> </li>


<% end %>

</ul>
<% end %>
<%= form_for @article do |g| %>
<p>
  <%= g.label :title %> <br/>
  <%= g.text_field :title %>
  
  
</p>

<p>
  <%= g.label :description %> <br/>
  <%= g.text_area  :description %>
  
</p>
<p>
  <%= g.submit %> <br/>
  
</p>

<% end %>
<%= link_to "Back to articles listing", articles_path%>